@charset 'UTF-8';

@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.title {
  height: $item-height;
  padding-left: $item-gap;
  font-size: 1.25em;
  line-height: $item-height;
  color: $text-secondary-reverse;
  cursor: pointer;
  background-color: $bar-secondary;
  border-bottom: 1px solid $bar-primary;
  border-left: 3px solid $bar-secondary;
  @mixin unselectable;
}

.title > i {
  width: $icon-width;
}

.title > span {
  padding-left: $item-gap;
}

.hover {
  color: $text-primary-reverse;
}

.hide {
  display: none;
}