/*
 * Colors
 * ========================================================================== */

$white-base:            #FFFFFF; /* white */
$highlight:				#189ACB; /* blue  */
$success:				#27C701; /* green */
$text-primary:			#000000; /* black */
$text-secondary:		#686868; /* gray  */
$text-primary-reverse:	#FFFFFF; /* white */
$text-secondary-reverse:#ACB9C2; /* gray  */ 
$bar-primary:			#21282E; /* deep blue */
$bar-secondary:			#394555; /* gray blue */
$content-primary:		#F5F5F5; /* lighter gray */
$cotent-secondary:		#E9E9E9; /* light gray */
$border:				#D5D5D5; /* gray */

/*
 * Typography
 * ========================================================================== */

$font-family-base:      'Segoe UI', 'Lucida Grande', Helvetica, Arial, 'Microsoft YaHei', FreeSans, Arimo, 'Droid Sans', 'wenquanyi micro hei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'FontAwesome', sans-serif;

/*
 * Layout
 * ========================================================================== */

$min-content-width:     1280px;
$item-height: 			39px; /* border-bottom 1px */
$item-gap: 				10px;
$icon-width:			13px;
$bar-expand-width:		150px;
$bar-shrink-width:		36px;

/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min:         480px;  /* Extra small screen / phone */
$screen-sm-min:         768px;  /* Small screen / tablet */
$screen-md-min:         992px;  /* Medium screen / desktop */
$screen-lg-min:         1200px; /* Large screen / wide desktop */

/*
 * Animations
 * ========================================================================== */

$animation-swift-out:   .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;
